header{
	background-image: url("https://static.wixstatic.com/media/3b86be8b75c276fe06abfb9c8f473244.png/v1/fill/w_625,h_469,al_c,usm_0.66_1.00_0.01/3b86be8b75c276fe06abfb9c8f473244.png")
}

body {
	background-image: url("https://static.wixstatic.com/media/3b86be8b75c276fe06abfb9c8f473244.png/v1/fill/w_625,h_469,al_c,usm_0.66_1.00_0.01/3b86be8b75c276fe06abfb9c8f473244.png")
}

.card-body {
background-color: #c0c0c0;
}

#rezultat-div {
	margin-left: 87%;
	padding:10px;
	background-color: #c0c0c0;
	
}

#iznos-label {
    margin-left: 87%;
    width: 20%;
    float: right;
    margin-top: -50px;
    padding: 10px;
    background-color: #c0c0c0;
   ;
}

