body {
	
	background-color: 	#a4d3d9;
	/*background-color: #FFA07A;*/
}

.card-body {
	background-color: #a4d3d9;
}

#rezultat-div {
	margin-left: 87%;
	padding:10px;
	background-color: #0080ff;
	
}

#iznos-label {
    margin-left: 87%;
    width: 20%;
    float: right;
    margin-top: -50px;
    padding: 10px;
    background-color: #ffae42;
   ;
}
